.cards-card{
    cursor: pointer;
    margin-top: 15%;
}
.cards-book1{
    padding: 20% 0 20% 17%;
    width: 60%;
}
.cards-card-top{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}
.cards-box{
    margin: 2%;
}
.cards-rating{
    padding: 0.5% 1.5%;
    background-color: green;
    color: white;
}
.cards-author, .cards-total-reviews, .cards-old-cost{
    font-size: 80%;
    font-weight: 500;
    color:rgb(161, 158, 158)
}
