.outer-box{
    background-color: #adadad;
    width: 100vw;
    height:100vh;
}
.content{
    display: flex;
    align-items: center;
    width: 53%;
    height: 100%;
    margin: auto;
}
.image{
    width: 50%;
    margin-top: 5vh;
}
.signup-logo{
    width: 100%;
    border-radius: 30px;
}
.form{
    border-radius: 7px;
    width: 55%;
    height: 65%;
    position: relative;
    right:3%;
    box-shadow: 0 0 18px #adadad;
}
.signup-form{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    width: 60%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    font-size: 170%;
    font-weight:500;
}
#login{
    color: #8c8c8c;
}

.input-details{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    margin: 1.5vh;
}
#submit-button{
    width:70%;
    height: 10%;
    background-color: #a03037;
    border: none;
    border-radius: 5px;
    color:white;
    margin-top: 1.5vh;
    font-size: 110%;
    cursor: pointer;
}

.outlined-basic{
    width: 70%;
}
.button{
    cursor: pointer;
}

@media (min-width:600px) and (max-width:1080px) {
    .image{
        display: none;
    }
    .signup-form{
        width: 180%;
        margin: auto;
    }
}
@media (min-width:300px) and (max-width:599px) {
    .image{
        display: none;
    }
    .signup-form{
        margin: auto;
    }
    .heading{
        font-size: 3vw;
    }
}